<!-- Modal Eliminar-->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">

      <div class="modal-header"><!---------------header---------------------->
        <h5 class="modal-title" id="deleteModalTitle">Confirmar Eliminar Usuario</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="cerrar">
          <span aria-hidden="true">×</span> 
        </button>
      </div>

      <div class="modal-body"><!------------------body----------------------->
        ¿Está seguro que desea eliminar a este Usuario?
        <input type="hidden" id="userIdHiddenInput" name="userIdHiddenInput"/>
      </div>
      
      <div class="modal-footer"><!----------------footer--------------------->
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" >Eliminar</button>
      </div>
      
    </div>
  </div>
</div>
<!-- Modal Dar de Baja-->
<div class="modal fade" id="lockModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">

      <div class="modal-header"><!---------------header---------------------->
        <h5 class="modal-title" id="deleteModalTitle">Confirmar dar de Baja</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="cerrar">
          <span aria-hidden="true">×</span> 
        </button>
      </div>

      <div class="modal-body"><!------------------body----------------------->
        ¿Desea dar de baja a este usuario?
        <input type="hidden" id="userIdHiddenInput" name="userIdHiddenInput"/>
      </div>
      
      <div class="modal-footer"><!----------------footer--------------------->
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" >Dar de Baja</button>
      </div>
      
    </div>
  </div>
</div>